<!doctype html>
<html>
  <head>
    <style type="text/css">
      .enabled {
        background-color: green;
        color: white;
        font-weight: bold;
      }

      .disabled {
        background-color: red;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

